@import '../../styles/theme.scss';

.HabitTracker {
    width: calc(100% - 12rem);
    margin: 0 auto;
}

.HabitItem1 {
    @include list-item($c-data-1, $c-white);
}

.HabitItem2 {
    @include list-item($c-data-2, $c-white);
}

.HabitItem3 {
    @include list-item($c-data-3, $c-white);
}

.HabitItem4 {
    @include list-item($c-data-4, $c-white);
}

.HabitItem5 {
    @include list-item($c-data-5, $c-white);
}

.HabitItem6 {
    @include list-item($c-data-6, $c-white);
}

.HabitItem1Selected {
    @include list-item-selected($c-data-1, $c-dark);
    
}

.HabitItem2Selected {
    @include list-item-selected($c-data-2, $c-dark);
    font-weight: 600;
}

.HabitItem3Selected {
    @include list-item-selected($c-data-3, $c-dark);
    font-weight: 600;
}

.HabitItem4Selected {
    @include list-item-selected($c-data-4, $c-dark);
    font-weight: 600;
}

.HabitItem5Selected {
    @include list-item-selected($c-data-5, $c-dark);
    font-weight: 600;
}

.HabitItem6Selected {
    @include list-item-selected($c-data-6, $c-dark);
    font-weight: 600;
}



.HabitItem1Button {
    @include list-item($c-data-1, $c-white);
    &:hover {
        background-color: rgba($c-data-1, 0.4);
    }
}

.HabitItem2Button {
    @include list-item($c-data-2, $c-white);
    &:hover {
        background-color: rgba($c-data-2, 0.4);
    }
}

.HabitItem3Button {
    @include list-item($c-data-3, $c-white);
    &:hover {
        background-color: rgba($c-data-3, 0.4);
    }
}

.HabitItem4Button {
    @include list-item($c-data-4, $c-white);
    &:hover {
        background-color: rgba($c-data-5, 0.4);
    }
}

.HabitItem5Button {
    @include list-item($c-data-5, $c-white);
    &:hover {
        background-color: rgba($c-data-5, 0.4);
    }
}

.HabitItem6Button {
    @include list-item($c-data-6, $c-white);
    &:hover {
        background-color: rgba($c-data-6, 0.4);
    }
}

.HabitEditButton {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.HabitItem {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    cursor: pointer;
}

.HabitInput {
    @include input;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.InputPrimaryButton {
    @include input;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
    padding: 4px 10px;
    box-shadow: none !important;

    &:hover {
        background-color: $c-darkest;
    }
}

.InputSecondaryButton {
    @include input;
    border-radius: 0;
    padding: 4px 10px;
    box-shadow: none !important;

    &:hover {
        background-color: $c-darkest;
    }
}