@import '../../styles/style.scss';

.TimeTracker {
    margin: 3rem;
}

.TypePicker {
    width: 100%;
    max-width: 300px;
    position: absolute;
    top: 0;
    left:0;
}

.DayTable {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    margin-top: 150px;
}

.DailyNotes {
    @include text-input;
    width: calc(100% - 4rem);
    margin: 2rem;
    background: $c-dark;
    border: $c-white 1px solid;
    color: $c-white;
    padding: 1rem;
}