@import '_colors.scss';


@mixin focused-glow-border($color, $background-color) {
    @keyframes fade-in-out {
        0% { 
            box-shadow: 0 0 5px 0px $color;
        } 

        50% { 
            box-shadow: 0 0 5px 1px $color;
        }

        100% { 
            box-shadow: 0 0 5px 0px $color;
        }
    }

    &:focus {
        border: 1px solid $color;
        box-shadow: 0 0 5px 2px $color;
        outline: none;
        animation: fade-in-out 3s linear infinite;
        background-color: $background-color;
    }
}

@mixin text-input {
    border: 1px solid $c-light-dark;
    border-radius: 0.5rem;
    background: $c-dark;
    background-color: $c-dark;
    padding: 5px 10px;
    color: $c-white;
    @include focused-glow-border($color: $c-accent, $background-color: $c-dark);

    &:focus {
        color: $c-white;
    }
}
