.HourTracker {
    margin: 1rem 0.5rem;

}

.Interval {
    font-size: 1rem;
    width: 30px;
    border: 1px solid black;
    color: black;
}

.Interval--main {
    font-weight: bold;
    font-size: 1.3rem;
}
